<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Nodejs Bacis</title>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div class="container">
            <div class="topnav">
                <a class="active" href="/">Home</a>
                <a href="/upload">Upload file</a>
            </div>

            <div style="padding-left: 16px">
                <h2>List users:</h2>

                <table id="customers">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Address</th>
                        <th>Actions</th>
                    </tr>

                    <% for (let i =0; i < dataUser.length ; i++ ) { %>

                    <tr>
                        <td><%= dataUser[i].id %></td>
                        <td><%= dataUser[i].firstName%> <%= dataUser[i].lastName %></td>
                        <td><%= dataUser[i].email %></td>
                        <td><%= dataUser[i].address %></td>
                        <td>
                            <button type="button">
                                <a href="/detail/user/<%= dataUser[i].id %>" target="_blank">Detail</a>
                            </button>
                            <form action="/edit-user/<%= dataUser[i].id %>" method="get">
                                <button type="submit">Edit</button>
                            </form>

                            <form action="http://localhost:8080/delete-user/" method="POST">
                                <input hidden type="text" value="<%= dataUser[i].id %>" name="userId" />
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
                </table>
            </div>
            <div class="create-user-container">
                <form action="http://localhost:8080/create-new-user" method="post">
                    <div>Create a new user</div>
                    <div>
                        <label>First Name:</label>
                        <input type="text" name="firstName" />
                    </div>
                    <div>
                        <label>Last Name:</label>
                        <input type="text" name="lastName" />
                    </div>
                    <div>
                        <label>Email:</label>
                        <input type="email" name="email" />
                    </div>
                    <div>
                        <label>Address:</label>
                        <input type="text" name="address" />
                    </div>
                    <button type="submit" class="btn-submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
